.profile-class {
	background-color: white;
	border-radius: 10px;
	text-align: center;
	padding: 5px 40px; 
	justify-content: center; align-items: center;
}

.profile-class h1 {
	color: var(--comp_dark_color);
	text-align: left;
}

.profile-class p {
	justify-content: center; align-items: center;
	color: black;
	text-align: left;
	padding: 5px 30px;
}
