.section-title {
	font-size: 2rem;
	color: var(--comp_dark_color);
	margin-bottom: 1rem;
	text-align: center;
}

.add-form {
	background-color: white;
	padding: 2rem;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	border-radius: 8px;
}

.add-form input {
	margin-bottom: 1rem;
	width: 97.5%;
	padding: 0.8rem;
	border: 1px solid var(--dark_color);
	border-radius: 4px;
}

.btn-adicionar {
	background-color: var(--comp_dark_color);
	color: white;
	border: none;
	padding: 0.8rem 1.2rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
	margin-top: 1rem;
	width: 100%;
}

.btn-adicionar:hover {
	background-color: var(--comp_light_color);
}